.react-calendar {
    padding: 10px 5px 15px;
    width: 100%;
    border-radius: 20px;
    background: white;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
}

.react-calendar__month-view__weekdays {
    text-decoration: underline;
    text-decoration-style: dotted;
    font-size: 12px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #DDD;
}

.react-calendar__tile--active {
    background: white;
    color: black;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}